<%- include('partials/header.ejs'); %>
<body>
  <%- include('partials/navbar'); %>
  <div class="container-fluid">
    <div class="card" id="formulario-pergunta">
      <div class="card-header">
        <h3>Realizar pergunta</h3>
      </div>
      <div class="card-body">
        <form method="POST" action="/saveQuestions">
          <div class="form-group">
            <label for="">Titulo</label>
            <input type="text" class="form-control" name="titulo" placeholder="Título">
          </div>
          <div class="form-group">
            <label for="">Descrição</label>
            <textarea class="form-control" id="" rows="3" name="descricao" placeholder="Descreva sua pergunta aqui."></textarea>
          </div>
          <button class="btn btn-primary">Perguntar</button>
        </form>
      </div>
    </div>
    <br>
  </div>
</body>
<%- include('partials/footer.ejs'); %>